<mat-tab-group [backgroundColor]="'primary'">
    <mat-tab [title]="'Insert Weapons to store'" [label]="'Request For Weapons'">
        <ng-template matTabContent>
            <app-basic
            [form]="form"
            [dataSourceUrl]="dataSourceUrl"
            [actions]="actions">
            </app-basic>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'Request Approval'">
        <ng-template matTabContent>
            <app-approves ></app-approves>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'Distributed Request'">
        <ng-template matTabContent>
            <h4>Distribute Request</h4>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'User Info'">
        <ng-template matTabContent>
            <app-userinfo></app-userinfo>
        </ng-template>
    </mat-tab>
</mat-tab-group>