.login-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	margin-left: 40%;

	justify-content: center;
  }
  
  .login-input {
	width: 100%;
  }
  .container{
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: darkgrey;
	border: 30px solid rgb(4, 3, 59);

 }
 #profile-img{
	 margin-left: 45%;
	 border-radius: 70%;
 }